# Python
__pycache__/
*.pyc
.venv/
.venv*/
.env
# Data / artifacts
artifacts/
data-fabric/dvc/
*.parquet
*.duckdb
# Node/Front (si aplicara)
node_modules/
# OS/IDE
.DS_Store
.vscode/
.idea/
data/audit/estructural/estructuras_intradiarias_sumas_resumen.csv
data/audit/estructural/sesgos_por_dia_semana_resumen.csv
data/audit/estructural/sesgos_resumen_global_fase2.csv
data/audit/estructural/transiciones_categorias.csv
data/audit/estructural/transiciones_consecutivo_anypos_anypos.csv
data/audit/estructural/transiciones_consecutivo_pos_pos.csv
data/audit/estructural/transiciones_espejo_anypos_anypos.csv
data/audit/estructural/transiciones_espejo_pos_pos.csv
data/audit/estructural/transiciones_numero_anypos_anypos.csv
data/audit/estructural/transiciones_numero_anypos_pos.csv
data/audit/estructural/transiciones_numero_pos_pos.csv
data/activadores/activadores_dinamicos_fase3_core_y_periodicos.csv
.gitignore
data/activadores/activadores_dinamicos_fase3_para_motor.csv
data/activadores/activadores_dinamicos_fase3_raw.csv
data/audit/estructural_fase2_5/sesgos_fase2_5_core_y_periodicos.csv
data/audit/estructural_fase2_5/sesgos_fase2_5_por_periodo.csv
data/audit/estructural_fase2_5/sesgos_fase2_5_resumen.csv
