version: "3.9"
services:
  postgres:
    image: postgres:16
    environment:
      POSTGRES_DB: motor
      POSTGRES_USER: ${PGUSER}
      POSTGRES_PASSWORD: ${PGPASSWORD}
    ports: ["5432:5432"]
    volumes: [ "pgdata:/var/lib/postgresql/data" ]

  minio:
    image: minio/minio:latest
    command: server /data --console-address ":9001"
    environment:
      MINIO_ROOT_USER: ${MINIO_ROOT_USER}
      MINIO_ROOT_PASSWORD: ${MINIO_ROOT_PASSWORD}
    ports: ["9000:9000","9001:9001"]
    volumes: [ "minio:/data" ]

  api:
    image: ghcr.io/tuorg/motor-api:latest
    depends_on: [postgres, minio]
    environment:
      DATABASE_URL: postgresql+psycopg://${PGUSER}:${PGPASSWORD}@postgres:5432/motor
      S3_ENDPOINT: http://minio:9000
      S3_ACCESS_KEY: ${MINIO_ROOT_USER}
      S3_SECRET_KEY: ${MINIO_ROOT_PASSWORD}
      S3_BUCKET: motor-artifacts
    ports: ["8080:8080"]

  prefect:
    image: prefecthq/prefect:2-latest
    ports: ["4200:4200"]

  mlflow:
    image: ghcr.io/mlflow/mlflow:latest
    environment:
      MLFLOW_BACKEND_STORE_URI: postgresql://${PGUSER}:${PGPASSWORD}@postgres:5432/motor
      MLFLOW_DEFAULT_ARTIFACT_ROOT: s3://motor-artifacts/mlflow
      AWS_ACCESS_KEY_ID: ${MINIO_ROOT_USER}
      AWS_SECRET_ACCESS_KEY: ${MINIO_ROOT_PASSWORD}
      MLFLOW_S3_ENDPOINT_URL: http://minio:9000
    ports: ["5000:5000"]

volumes:
  pgdata:
  minio:
